a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
svg:not(:root) {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

*, *:focus {
    outline: 0;
}

[contenteditable] {
    -webkit-tap-highlight-color: transparent;
}
  
[contenteditable]:empty:before {
    display: block;
    content: attr(placeholder);
}

.part > .content {
    font-size: 15px;
}
.part>.content>.composite {
    height: 100%;
}
.pane-body .welcome-view-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px 1em 20px;
    box-sizing: border-box;
    align-items: center;
}
.pane-body .welcome-view-content > p {
    width: 100%;
}
.pane>.pane-body:not(.welcome)>.welcome-view {
    display: none;
}